@import "./common/colors.scss";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: $font-primary;
}

body{
    background-color: $primary-color;
    color: white;
}

.container
{
    margin: 0px 40px;
}